.cart-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 40px 0;
}

.membership-container {
    padding: var(--app-btn-padding);
    border: 2px solid #DDD;
}

.heading-link {
    text-decoration: none;
}

.dead-link {
    text-decoration: underline;
    cursor: pointer;
}

a, .dead-link {
    color: var(--app-dark-text-color);
    transition: var(--app-transition);
}

a:hover, .dead-link:hover {
    color: var(--app-theme-orange);
}

input[type=text] {
    padding-left: 8px;
    border: 2px solid #DDD;
    border-right: none;
    border-top-left-radius: var(--app-border-radius);
    border-bottom-left-radius: var(--app-border-radius); 
}

input[type=text]:focus {
    outline: none;
}

input[type=submit], button {
    padding: var(--app-btn-padding);
    border: none;
    border-top-right-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);
    font-weight: 600;
    color: #FFF;
    background-color: var(--app-theme-orange);
}

.blue {
    color: var(--app-theme-blue);
}

.columns-container {
    display: flex;
    gap: 40px; 
}

.first-col-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-cards-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.item-card-info figure {
    padding: 5px;
}

.item-card-info figure img {
    height: 200px;
}

.item-card-info div {
    display: flex;
    gap: 20px;
}

.item-card {
    padding: var(--app-btn-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border: 2px solid #EEE;
    background-color: #FFF;
}

.checkoutCardRatingContainer {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.random-items-container {
    display: flex;
}

.shipping-features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.shipping-features-container article i {
    font-size: 60px;
}

.shipping-features-container article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.second-col-container {
    padding: 30px;
    border: 2px solid #DDD;
    border-radius: var(--app-border-radius);
}

.second-col-container form {
    display: flex;
}

.order-summary-container article, 
.estimated-total-container article {
    display: flex;
    justify-content: space-between;
}

.place-order-btn {
    width: 100%;
    border-radius: var(--app-border-radius);
    transition: var(--app-transition);
}

.place-order-btn:hover {
    background-color: var(--app-theme-orange-hover);
}

.payment-options-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.payment-options-container img {
    width: 70px;
}

/* =============================== ORDER PLACED ============================================ */

.order-placed-section {
    display: grid;
    place-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.order-placed-container {
    display: grid;
    place-items: center;
    margin-inline: auto;
    z-index: 999;
    text-align: center;
    width: 350px;
    height: 450px;
    padding: 25px 20px;
    border-radius: var(--app-border-radius);
    background-color: var(--app-theme-light);
    background-image: linear-gradient(126deg, rgba(153, 176, 207, 0.219), var(--app-theme-light), rgba(153, 176, 207, 0.219));
    transition: all 0.35s ease-in-out;
}

.order-placed-container .fa-circle-check {
    font-size: 8rem;
    color: rgb(0, 128, 0, 0.8);
}

.order-placed-container .order-placed-checkmark {
    width: 100%;
    height: 150px;
    padding: 10px;
}

.order-placed-container .order-placed-text {
    padding: 10px;
    width: 100%;
    height: 180px;
}

.order-placed-container .order-placed-success {
    font-size: 1.5rem;
    line-height: 30px;
}

.order-placed-container .order-id {
    font-size: 0.9rem;
    letter-spacing: 0.25px;
}

.order-placed-container .order-id span {
    font-weight: 600;
    color: var(--app-theme-blue-2);
}

.order-placed-container button.continue-shopping {
    border-radius: var(--app-border-radius);
    font-weight: 400;
    transition: var(--app-transition);
}

.order-placed-container button.continue-shopping:hover {
    background-color: var(--app-theme-orange-hover);
    cursor: pointer;
}