.details-page {
    width: 100%;
    height: calc(100vh - 70px - 150px);
    display: grid;
    padding: 40px 0px;
    place-items: center;
}

.product-details {
    height: 100%;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.product-details figure {
    display: grid;
    place-items: center;
    width: 450px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 30px;
}

.product-details img {
    max-width: 100%;
    min-width: 100%;
    object-fit: contain;
}

.product-details .product-info {
    width: 600px;
    height: auto;
    padding: 20px;
}

.product-details .product-title {
    font-size: 2.8rem;
}

.product-details .product-description {
    padding: 4px 0px;
    height: auto;
    margin-top: 15px;
}

.product-details .product-stars {
    margin-top: 20px;
    padding: 3px 0px;
}

.product-details .fa-star {
    font-size: 19px;
}

.product-details .yellow-star {
    color: #c99016;
}

.product-details .divider {
    border-width: 0.02rem;
    height:0.02rem;
    border: 1px solid rgb(145, 144, 144, 0.2);
}

.product-details .product-price {
    margin-top: 25px;
    font-size: 25px;
    font-weight: 500;
}

.product-details .buttons {
    margin-top: 30px;
    padding: 8px 0px;
    height: 65px;
}

.product-details button {
    margin: 0px 0px 0px auto;
    width: 150px;
    height: 48px;
    color: #fff;
    font-size:14px;
    border-radius: 25px;
    background-color: var(--app-theme-blue);
    text-transform: uppercase;
    transition: all 0.35s ease-in-out;
    border: 1px solid transparent
}

.product-details button + button {
    margin-left: 10px;
}

.product-details button:hover {
    background-color: var(--app-theme-blue-2);
}

.product-details .product-add-to-cart {
    background-color: var(--app-theme-light) ;
    border: 1px solid var(--app-theme-blue);
    color: var(--app-theme-blue)
}

.product-add-to-cart:hover {
    background-color: var(--app-theme-blue);
    color: #fff;
}

.product-details .product-delivery {
    margin-top: 25px;
    width: 380px;
    height: 55px;
    padding: 4px 0px;
}

/* -------------------------------- */
/* Media Queries                   */
/* -------------------------------- */