.discount-wrapper {
    width: 100%;
    background-color: var(--app-theme-blue-2);
    color: var(--app-light-text-color);
    padding: 10px 0px;
    font-size: 12px;
}

@media only screen and (min-width: 1080px) {   
    .discount-wrapper {
        display: block;
        visibility: visible;
    }
}

@media only screen and (max-width: 1079px) {
    .discount-wrapper {
        display: block;
        visibility: visible;
    }
}

@media only screen and (max-width: 1040px) {
    .discount-wrapper {
        display: block;
        visibility: visible;
    }
}

@media only screen and (max-width: 922px) {
    .discount-wrapper {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 700px) {
    .discount-wrapper {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 562px) {
    .discount-wrapper {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 416px) {
    .discount-wrapper {
        display: none;
        visibility: hidden;
    }
}

.discount-wrapper .flexbox {
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.discount-wrapper .phone-number p {
    margin: 0;
    margin-left: 10px;
}

.discount-wrapper .discount p {
    margin: 0;
}

.discount-wrapper .discount p:first-child {
    padding-right: 10px;
    border-right: 1px solid var(--app-light-text-color);
}

.discount-wrapper .discount p:last-child {
    padding-left: 10px;
}

.discount-wrapper .settings {
    height: 100%;
}

.discount-wrapper .settings > div {
    width: 80px;
    text-align: center;
    height: 100%;
}

.discount-wrapper .settings > div:hover {
    cursor: pointer;
}

.discount-wrapper .settings > div i {
    margin-left: 5px;
}