@layer bootstrap, defaults, components, overrides;

@import '../../node_modules/bootstrap/' layer(bootstrap);

@import './header-footer.css' layer(defaults);
@import './details.css' layer(defaults);
@import './banner.css' layer(components);
@import './product.css' layer(components);
@import './discount-wrapper.css' layer(components);

@layer defaults {    
    :root {
        --app-theme-grey: #e7e6e4;
        --app-theme-light: #f8f5f1;
        --app-theme-light-2: #D8C4B6;
        --app-theme-light-blue: #99b0cf;
        --app-theme-blue: #4F709C;
        --app-theme-blue-2: #213555;
        --app-theme-orange: #db9806;
        --app-theme-orange-hover: #d19108;

        --app-light-text-color: #f4f6f8;
        --app-dark-text-color: #1c1c1c;

        /*transitions and settings*/
        --app-transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
        --app-btn-padding: 8px 15px;
        --app-border-radius: 10px;
        --app-family-highlight: 'Roboto', sans-serif;
        --app-family-primary: 'Inter', sans-serif;
    }

    p {
        font-family: var(--app-family-primary);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--app-family-highlight);
    }
  
    body {
      background-color: var(--app-theme-light);
    }

    .main-container {
      width: min(100% - 30px, 1080px);
      margin-inline: auto;
    }

    .flexbox {
      display: flex;
    }
}
