.form-header {
    width: 400px;
    /* max-width: 380px; */
    background-color: #fff;
}

.form-header h3 {
    font-size: 28px;
}

.form-header button.btn-close {
    background-color: #fff;
}

.form-container {
    width: 400px;
    /* max-width: 380px; */
    height: 430px;
    background-color: #fff;
    border-bottom-left-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);
    border: none;
}

.form-container input[type="email"], .form-container input[type='password'] {
    color: rgb(0, 0, 0, 0.7);
}

.form-container .form-input-box-1 {
    margin-top: 15px;
}

.form-container label {
    color: rgb(0, 0, 0, 0.7);
}

.form-container .error-message {
    margin-top: 2px;
    padding: 0px 3px;
    font-size: 12.5px;
    height: 20px;
    width: 100%;
    position: absolute;
    top: 45%;
    border: 1px solid transparent;
}

.register-form-container .email-error-message, .register-form-container .password-error-message {
    margin-top: 2px;
    padding: 0px 3px;
    font-size: 12.5px;
    height: 20px;
    width: 100%;
    position: absolute;
    top: 100%;
    border: 1px solid transparent;
}


.form-container .submit-button, .form-container input[type="button"].sign-in-google
, .register-form-container input[type="button"].sign-in-google, .register-form-container .register-button  {
    height: var(--app-btn-height);
    transition: var(--app-transition);
    color: var(--app-light-text-color);
    background-color: var(--app-theme-orange);
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.35px;
}

.register-form-container .register-button {
    margin-top: 10px;
}

.form-container .submit-button:hover, .register-form-container .register-button:hover {
    background-color: var(--app-theme-orange-hover);
}

.form-container .sign-in-option, .register-form-container .sign-in-option {
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
}

.form-container .register-option {
    margin-top: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
}

.form-container input[type="button"].sign-in-google, .register-form-container input[type="button"].sign-in-google {
    margin-top: 0px;
    background-color: var(--app-theme-blue-2);
    text-decoration: none;
}

.form-container input[type="button"].sign-in-google:hover, 
.register-form-container input[type="button"].sign-in-google:hover {
    background-color: var(--app-theme-blue-hover);
    text-decoration: none;
}

.form-container .register-option p {
    font-size: 14px;
    margin-top: 2.5px;
}

.form-container .register-option input[type="button"] {
    margin-left: 10px;
    border-radius: none;
    height: 25px;
    padding: 0px;
    text-decoration: none;
    color: var(--app-theme-orange);
}

.form-container .register-option input[type="button"]:hover {
    text-decoration: underline;
}

/* --------------------------------- */
/* ----------- Register Modal ------*/
/* -------------------------------- */

.register-form-container {
    width: 400px;
    /* max-width: 380px; */
    height: 380px;
    background-color: #fff;
    border-bottom-left-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);
    border: none;
}

.register-form-container .register-form-input-box-1 {
    margin-top: 15px;
}

.register-form-container .register-form-input-box-2 {
    margin-top: 10px;
}